# JAVA / MAVEN
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
hs_err_pid*
replay_pid*
mvnw.cmd
mvnw
.mvn/


# SPRING BOOT CONFIG
application-secrets.properties
application-local.properties
application-docker.properties
application-test.properties
*.env
*.env.*
.env
.env.local
.envrc


# DOCKER
.docker/
docker-compose.override.yml
docker-compose.local.yml
Dockerfile.*
docker-compose.yml
!.env.example

# IDEs / EDITORS
# IntelliJ IDEA
.idea/
*.iws
*.ipr

# VS Code
.vscode/
.history/
*.code-workspace

# Eclipse
.project
.classpath
.settings/
.metadata/
bin/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


# SENSITIVE FILES
*.key
*.pem
*.crt
*.p12
*.jks
*.keystore

# SYSTEM
.DS_Store
Thumbs.db
